@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
@import url("./reset.css");

body {
  font-family: "Inter";
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  color: white;
  background-color: #0e0e12;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  text-align: center;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

header .get-sdk-link {
  position: absolute;
  right: 60px;
  top: 30px;
  font-weight: 700;
  color: #65aad0;
  background-color: #16161d;
  padding: 10px 20px;
  border-radius: 6px;
}

.get-sdk-link:hover {
  background-color: #16161d;
  color: #65aad0;
}

form {
  display: flex;
}

form input {
  width: 518px;
  background: #16161d;
  border-radius: 6px;
  margin-right: 12px;
  padding: 12px 20px;
  border: none;
  outline: none;
  color: white;
}

form button {
  height: 50px;
  left: 948px;
  top: 449.27px;
  background: #de5c5f;
  border-radius: 6px;
  color: white;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

table {
  background-color: #16161d;
  width: 100%;
  border: 1px solid #303241;
  border-radius: 6px;
  table-layout: fixed;
}

th {
  background-color: #0e0e12;
  padding: 10px;
  text-align: left;
  border: none;
}

td {
  min-width: 150px;
  padding: 10px;
  border-top: 1px solid #303241;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

footer button {
  background: #24242d;
  border: 1px solid #303241;
  border-radius: 6px;
  color: white;
}

footer button:disabled {
  color: gray;
  cursor: not-allowed;
  border: none;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 20px 0;
}

.lists-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.list-title {
  display: flex;
  margin-bottom: 10px;
}

.list-title h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: initial;
  margin-left: 6px;
}

.tokens {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.poaps {
  margin-left: 40px;
}

.poaps .poap {
  display: flex;
  align-items: center;
  background: #16161d;
  border: 1px solid #303241;
  border-radius: 6px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 300px;
}
.poaps .logo {
  min-width: 115px;
  height: 115px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poaps li img {
  width: 115px;
}

.poaps .info {
  overflow: hidden;
  padding: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 200%;
  letter-spacing: 0.5px;
  color: #96999c;
}

.poaps .info > * {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
